name: Codespell

on:
  pull_request: {}
  push: {}

jobs:
  codespell_ubuntu24:
    name: Codespell on Linux Ubuntu 24.04
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - uses: codespell-project/actions-codespell@v2
        with:
          path: devertexwahn/core

      - uses: codespell-project/actions-codespell@v2
        with:
          path: devertexwahn/math

      - uses: codespell-project/actions-codespell@v2
        with:
          path: devertexwahn/imaging

      - uses: codespell-project/actions-codespell@v2
        with:
          path: devertexwahn/flatland
